.scale {
    display: flex;
}

.block {
    width: 10%;
    height: 68px;
    background: linear-gradient(0deg, #F2F3F4, #F2F3F4),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    margin: 2px;
    border: 2px solid rgba(255, 255, 255, 1)
}

.selected {
    background: var(--primaryColor);
}

.indicator {
    display: flex;
    justify-content: flex-end;
}

.shell {
    padding: 100px 0;
}