.table {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "info qa";
    border: 1px solid rgba(217, 220, 222, 1);
    margin-bottom: 80px;
}

.img {
    border-radius: 100%;
    margin-right: 10px;
}

.data {
    padding: 10px;
    display: flex;
    border-bottom: 1px solid rgba(217, 220, 222, 1);
}

.data:hover {
    background: rgba(251, 247, 254, 1);
    cursor: pointer;
}

.data>* {
    align-self: center;
}

.data .selected {
    background: var(--lightGrey)
}


.info {
    grid-area: info;
}

.qa {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
    grid-area: qa
}

.sec {
    border-left: 1px solid rgba(217, 220, 222, 1);
}

.sec>* {
    border-bottom: 1px solid rgba(217, 220, 222, 1);
    ;
    padding: 20px;
}

.sec>*:last-child {
    border-bottom: unset
}

.feedtitle {
    border-bottom: 1px solid rgba(217, 220, 222, 1);
    padding: 8px;
    text-transform: uppercase;
    font-size: 12px;
}

.namefeed {
    font-weight: 600;
    border-bottom: unset;
}

.mini {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.empty {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 40px 20px;
}

.top {
    font-size: 31px;
    font-weight: 600;
}

.details {
    font-weight: 400;
    color: rgba(89, 99, 110, 1);
}